<h1> Add New Movie </h1>
<div class="container w-50">
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Submit Movie", class: "btn btn-primary" %>
<% end %>
</div>

<p><%= link_to "Main Page", lists_path, class: "btn btn-primary" %></p>
